body > .container {
  padding: 60px 15px 0;
}

.ricc {
  font-weight: bold;
  color: red;
}
.bicc {
  font-weight: bold;
  color: blue;
}
.yicc {
  font-weight: bold;
  color: #ec0;
}
.gicc {
  font-weight: bold;
  color: green;
}
.picc {
  font-weight: bold;
  color: #ffc0cb;
}
